body {
    margin: 0;
}

section {
    background: #202846;
    height: 90px;
}

.logo {
    padding-top: 10px;
    padding-left: 138px;
}

.menu {
    font-size: 24px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: -78px;

}

a {
    text-decoration: none;
    color: white;
}

li {
    display: inline;
    list-style-type: none;
    margin-inline-start: 54px;
}

.lang {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 180px;
    margin-top: 10px;
}

h1 {
    color: white;
    font-size: 22px;
    margin-right: -105px;
}

.name {
    background-color: #C6C6DC;
    height: 140px;
    margin: 0;
    font-size: 48px;
    color: #202846;
}

p {
    margin: 0px;
}

.nametwo {
    margin-left: 275px;
    padding-top: 35px;
}

.button {
    height: 73px;
    width: 1489px;
    margin: 0 auto;
    display: block;
    margin-top: 55px;
}

.polygon {
    position: relative;
    left: 1700px;
    top: -46px;
}

.content {
    background-color: #AEAEE2;
    height: 300px;
    width: 1489px;
    display: block;
    margin: 0 auto;
}

.cardone {
    margin-left: 103px;
    padding-top: 28px;
}

.text {
    color: #353C57;
    margin-left: 688px;
    margin-top: -250px;
    font-size: 36px;
}

.info {
    height: 184px;
    background-color: #D7D7DD;
    font-size: 22px;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 15px;
}

.h2 {
    border-bottom: 3px solid white;
    box-sizing: border-box;

}

.star {
    font-size: 50px;
    position: relative;
    left: 625px;
    z-index: 10;
    top: -260px;
}

a:hover {
    color: #FFFF00;
}

.more {
    background-color: #EF075B;
    height: 60px;
    width: 138px;
    margin-top: -100px;
    position: relative;
    z-index: 25;
    left: 1275px;
    border: 3px solid #EF075B;
    border-radius: 25px 25px;
    text-align: center;
    font-size: 18px;
}
  

